/* GENERAL STYLES */
* { /* Reset the space of the webpage */
    margin: 0px;
    padding: 0px;
 }

html {
    scroll-behavior:smooth
}
  
@font-face {
    font-family: "Gilmer Bold";
    src: url("Fonts/Gilmer-Bold.ttf");
}
  
@font-face {
    font-family: "Gilmer Regular";
    src: url("Fonts/Gilmer-Regular.otf");
}

 body {
    background-color: #FCF8E8; 
    align-items: center;
    justify-content: center

 }
 
 .container {
    display: flex;
    align-items: center;
    justify-content: center
  }

 /* END OF GENERAL STYLES */

 /* NAV BAR STYLES*/

 ul {
    list-style-type: none;
    overflow: hidden;
    padding: 1.5em;
    background-color: #FCF8E8; 
    text-align: right;
}

li {
    display: inline;

}

li a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: "Gilmer Bold";

}

/* END OF NAV BAR STYLES */

/* HOME SECTION */
 
#planet-title {
    margin-bottom: 0.5em;
    font-size: 3.4rem;
    font-family: "Gilmer Bold";

}
#home-img {
    width: 45%;
    height: 45%;
    margin-top: 5em;
    margin-right: 4em;
    margin-left: -1em;
}
 .left-side {
   color: rgb(56, 147, 106);
   margin-top: 1em;
   margin-left: 10em;
   margin-right: 2em;
   font-family: "Gilmer Regular";

 }

 
 
 /* STYLE IMAGES */
 
 
 /* STYLE BUTTONS */
 
 /* ADD MORE! */